<nav class="bg-blue-800 fixed flex px-6 w-full z-10 top-0">
    <img src="/logo.png" width="112" height="28">
      <a href="{{.Site.Params.social.github}}" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a href="{{.Site.Params.social.twitter}}" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
    <div class="menu ml-auto">
        {{ range .Site.Taxonomies.category.Alphabetical }}
        <a class="text-gray-300 px-2 text-sm font-medium" href="{{ "category/" | relURL }}{{ .Name | urlize }}">{{ .Name }}</a>
        {{ end }}
  </div>
</nav>