<aside class="max-w-40 mx-auto">
    {{$pathname:= trim .Path "/"}}
    {{if in $pathname "author/"}}
        {{$urlname:= .Name | urlize }}
        <img class="w-20 h-20" src="/avatar/{{ $urlname }}.jpg">
        {{.Name}}
            {{index .Site.Params.profiles $urlname }}
    {{end}}
        <div ><a  href="/author">Authors</a></div>
        <div >
            {{ range .Site.Taxonomies.author.Alphabetical }}
                <a href="{{ "author/" | relURL }}{{ .Name | urlize }}">{{ .Name }} ({{ .Count }})</a>
            {{ end }}
        </div>
        <!-- toufu -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-{{.Site.Params.adsensePubId}}"
        data-ad-slot="{{.Site.Params.adsenseUnitId}}"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <div ><a  href="/tags">Tags</a></div>
        <div>
            {{ range .Site.Taxonomies.tags.Alphabetical }}
            {{ if gt .Count 1 }}
                <span class="">
                    <a href="{{ "tags/" | relURL }}{{ .Name | urlize }}">{{ .Name }} ({{ .Count }})</a>
                </span>
            {{ end }}
            {{ end }}
        </div>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</aside>