{{ define "main" }}
      {{$authorName:= .Params.author | urlize }}
      {{$categoryName:= .Params.category | urlize }}
<div class="max-w-3xl flex flex-col rounded-xl my-1 p-4 bg-gray-500 bg-opacity-5 mx-1">
    <div class="flex w-full items-center space-x-2 max-w-screen-lg">
        <span class="w-16 h-16 rounded overflow-hidden">
              <img class="is-rounded" src="/avatar/{{$authorName}}.jpg" alt="{{$authorName}}">
        </span>
        <span class="text-sm w-full">
            <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
            <a href="/author/{{$authorName}}" class="">{{.Params.author}}</a>
            <a href="/category/{{$categoryName}}" class=" {{index .Site.Params.catesytles $categoryName }}">{{.Params.category}}</a>
            <span class="">{{ .Date.Format (.Site.Params.dateFormat | default "2006-01-02") }}</span>
        </span>
  </div>
    <article class="content">
      {{ .Content }}
    </article>
    <div class="tags are-small">
      {{ range .Params.tags }}
        <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}" class="tag subtitle is-7 is-dark">{{ . }}</a>
      {{ end }}
      </div>
    <div class="block">
        {{ with .PrevInSection }}
        <p class="subtitle is-6 m-1">Previous Post: <a class="link" href="{{ .Permalink }}">{{.Title}}</a></p>
        {{ end }}
        {{ with .NextInSection }}
        <p class="subtitle is-6 m-1">Next Post: <a class="link" href="{{ .Permalink }}">{{.Title}}</a></p>
        {{ end }}
    </div>
{{ end }}